<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{% if page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }}{% endif %}</title>
{% feed_meta %}

{% seo title=false %}

<!-- start: additional meta for twitter -->
<meta name="twitter:image" content="/favicon-96x96.png" />
<meta name="twitter:description"  content="{{ page.excerpt | default: site.description | strip_html | strip_newlines }}" />
<!-- end: additional meta for twitter -->

<!-- icons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/android-chrome-192x192.png" sizes="192x192">
<meta name="theme-color" content="{{ site.theme-color-attr }}">
<meta name="msapplication-TileColor" content="{{ site.ms-tile-color }}">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/mstile-310x310.png">
<!-- /icons -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/modernizr.js"></script>
<script src="{{ site.baseurl }}/js/fitvids.js"></script>
<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:600,900|Crimson+Text:700italic,600,600italic,400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css">
{% if site.display-social-icons %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
{% endif %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

{% if page.home != true or site.show-subtitle == false and site.display-social-icons == false %}
<style>
header {
  margin-bottom: 40px;
}
@media all and (min-width: 500px) {
  header {
    margin-bottom: 100px;
  }
}
header::after {
  display: none;
}
</style>
{% endif %}
